* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    padding: 15px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
}

li{
margin: 0 20px;
}

.nav {
    text-decoration: none;
    color: wheat;
    font-size: 23px;
}

.season-22 {
    background-image: url(./img/fondo\ real.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 15px;
    border-radius: 15px;
}

.info {
    display: flex;
    justify-content: center;
    padding-top: 425px;
}

.button {
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 5px 5px;
    text-decoration: none;
    color: rgb(224, 192, 131);
    font-size: 30px;
}

.about-us {
    background-color: black;
    display: flex;
    align-items: center;
    margin: 15px;
    border-radius: 15px;

}

.tittle {
    text-decoration: none;
    color: rgb(224, 192, 131);
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    
}

.img-psg {
    height: 300px;
    border-radius: 15px;
}

.img-ars {
    height: 226px;
    border-radius: 15px;
}

.cards {
    height: 400px;
    text-align: center;
}

.why {
    padding-top: 15px;
    font-size: 40px;
}

.info-card {
    width: 100px;
}

.card__container {
    margin: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 150px;
    height: 200px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    height: 150px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
}

.div-contact {
    display: flex;
    flex-direction: column;
    color: rgb(224, 192, 131);
    margin-top: 12px;
}

.footer-redes{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    color: rgb(224, 192, 131); 
}
.footer-redes a{
    color: rgb(224, 192, 131);
}

.footer-redes i {
    margin: 10px;
} 


.footer-img img{
    width: 100px;
    padding-top: 20px;
}

.card {
    animation: floating 3s ease 0s infinite alternate;
}





